<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.microblink.BlinkIdScanner" 
        version="1.1.3">

    <name>BlinkId-Moto</name>
    <description>Component for scanning VIN numbers and license plates</description>
    <license>MIT</license>
    <keywords>ID</keywords>
    <author>MicroBlink Team info@microblink.com</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>   

    <js-module src="www/blinkIdScanner.js" name="BlinkIdScanner">
        <clobbers target="cordova.plugins.blinkIdScanner" />
    </js-module>
    
    <hook type="after_platform_add" src="addEmbedded.js" />

    <platform name="ios">
        <source-file src="src/ios/sources/CDVBlinkIdScanner.m" />
        <header-file src="src/ios/sources/CDVBlinkIdScanner.h" />
        <source-file src="src/ios/sources/Overlay/PPOcrFinderView.m" />
        <header-file src="src/ios/sources/Overlay/PPOcrFinderView.h" />
        <header-file src="src/ios/sources/Overlay/PPOcrFinderView+Private.h" />
        <source-file src="src/ios/sources/Overlay/PPOcrOverlayViewController.m" />
        <header-file src="src/ios/sources/Overlay/PPOcrOverlayViewController.h" />
        <header-file src="src/ios/sources/Overlay/PPOcrOverlayViewController+Private.h" />
        
        <framework src="libc++.dylib" />
        <framework src="libz.dylib" />
        <framework src="libiconv.dylib" />

        <framework src="CoreVideo.framework" />
        <framework src="CoreText.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="Accelerate.framework" />
        
        <framework src="src/ios/framework/MicroBlink.framework" custom="true" embed="true" />
        
        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        
        <resource-file src="src/ios/framework/MicroBlink.bundle" />
        
        <config-file target="config.xml" parent="/*">
            <feature name="blinkIdScanner">
                <param name="ios-package" value="CDVBlinkIdScanner" />
            </feature>
        </config-file>
    </platform>
    
</plugin>